<!doctype html>
<html lang="en">
  <head>
    <title>Русский в дореволюционной орфографии</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
 
<style type="text/css"> 

body{position:absolute;
left:3%;
top:3%;
}


</style>
</head>
  <body>
  <form action="/results">

 

    <p><b>Как правильно: лень или лѣнь?</b></p>
    <input type="radio" name="answer1" value="e">лень<Br>
    <input type="radio" name="answer1" value="yat">лѣнь<Br>

    <p><b>Как правильно: месяц или мѣсяц?</b></p>
    <input type="radio" name="answer2" value="e">месяц<Br>
    <input type="radio" name="answer2" value="yat">мѣсяц<Br>

    <p><b>Как правильно: жесть или жѣсть?</b></p>
    <input type="radio" name="answer3" value="e">жесть<Br>
    <input type="radio" name="answer3" value="yat">жѣсть<Br>

    <p><b>Как правильно: лекарь или лѣкарь?</b></p>
    <input type="radio" name="answer4" value="e">лекарь<Br>
    <input type="radio" name="answer4" value="yat">лѣкарь<Br>

    <p><b>Как правильно: крест или крѣст?</b></p>
    <input type="radio" name="answer5" value="e">крест<Br>
    <input type="radio" name="answer5" value="yat">крѣст<Br>

    <p><b>Как правильно: свет или свѣт?</b></p>
    <input type="radio" name="answer6" value="e">свет<Br>
    <input type="radio" name="answer6" value="yat">свѣт<Br>

    <p><b>Как правильно: вести или вѣсти</b></p>
    <input type="radio" name="answer7" value="e">вести<Br>
    <input type="radio" name="answer7" value="yat">вѣсти<Br>

    <p><b>Как правильно: месть или мѣсть?</b></p>
    <input type="radio" name="answer8" value="e">месть<Br>
    <input type="radio" name="answer8" value="yat">мѣсть<Br>

    <p><b>Как правильно: человек или человѣк?</b></p>
    <input type="radio" name="answer9" value="e">человек<Br>
    <input type="radio" name="answer9" value="yat">человѣк<Br>

    <p><b>Как правильно: лев или лѣв?</b></p>
    <input type="radio" name="answer10" value="e">лев<Br>
    <input type="radio" name="answer10" value="yat">лѣв<Br>

    <p><b>Как правильно: орех или орѣх?</b></p>
    <input type="radio" name="answer11" value="e">орех<Br>
    <input type="radio" name="answer11" value="yat">орѣх<Br>
	<p></p>
<p><button type="submit" class="btn btn-primary">Отправить!</button></p>
 </form>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>