<html>
    <head>
       <meta charset="utf-8">
       <title>Анкета</title>
	<style type="text/css">   
	   
	  body {
   font-size: 12pt;
   font-family:tahoma;
   line-height:140%;
   }
   </style>
    </head>
 <body>
<p>Пожалуйста, заполните анкету:

<form action = "/thanks" method="GET">
    <p>Какой Ваш родной язык? <input type="text" name="nat_lang" value=""></p>
	<p>Сколько Вам лет? <input type="text" name="age" value=""></p>
    
	<p>Пожалуйста, отметьте, насколько правильными являются следующие предложения горномарийского языка:</p>
	    <p><b>Мӓ клубеш Васяде кенӓ.</b></p>
    <input type="radio" name="answer1" value="1">Так нельзя сказать<Br>
    <input type="radio" name="answer1" value="2">Так скорее можно сказать, но немного режет слух<Br>
	<input type="radio" name="answer1" value="3">Так можно сказать<Br>
	
		    <p><b>Тӓ корным марынде мода.</b></p>
    <input type="radio" name="answer2" value="1">Так нельзя сказать<Br>
    <input type="radio" name="answer2" value="2">Так скорее можно сказать, но немного режет слух<Br>
	<input type="radio" name="answer2" value="3">Так можно сказать<Br>
	
		    <p><b>Мӹнь шӹшердеок кашам шолтым.</b></p>
    <input type="radio" name="answer3" value="1">Так нельзя сказать<Br>
    <input type="radio" name="answer3" value="2">Так скорее можно сказать, но немного режет слух<Br>
	<input type="radio" name="answer3" value="3">Так можно сказать<Br>
	
		    <p><b>Йӹлмӹм пӓлӹмӓшде вес сӓндӓлӹкӹштӹ нӹлӹм пӓшӓм муаш.</b></p>
    <input type="radio" name="answer4" value="1">Так нельзя сказать<Br>
    <input type="radio" name="answer4" value="2">Так скорее можно сказать, но немного режет слух<Br>
	<input type="radio" name="answer4" value="3">Так можно сказать<Br>
	
		    <p><b>Йӹлмӹм пӓлӹмӹде вес сӓндӓлӹкӹштӹ нӹлӹм пӓшӓм муаш.</b></p>
    <input type="radio" name="answer5" value="1">Так нельзя сказать<Br>
    <input type="radio" name="answer5" value="2">Так скорее можно сказать, но немного режет слух<Br>
	<input type="radio" name="answer5" value="3">Так можно сказать<Br>

	<p><input type="submit" value="Отправить"></p>
</form>

</p>
 

 </body>
 </html>