<html>
    <head>
       <meta charset="utf-8">
       <title>Поиск</title>
	   
	   	<style type="text/css">   
	   
	  body {
   font-size: 12pt;
   font-family:tahoma;
   line-height:140%;
   }
   </style>
    </head>
 <body>
<p>Искать по:</p>
<form action = "/results" method="GET">
 <p>Родной язык: <input type="text" name="nat_lang" value=""></p>
<p>Возраст от :<input type="text" name="agelow" value=""> до:<input type="text" name="agehigh" value=""></p>

<p><input type="submit" value="Искать"></p>
</form>

 </body>
 </html>